* { margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
 
    background-image: url(images/ballas.png);
    background-size: 130%;
    background-repeat: no-repeat;
}
.header {

 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 padding: 20px 10px;
 background: transparent;
 display: flex;
 justify-content: space-between;
 align-items: center;
 z-index: 100;  
  
}
.logo {
    display: inline-block;
    padding: 10px 28px ;
    background: purple;
    border-radius: 40px;
    box-shadow: 0 0 10px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight:600 ; 
    opacity: 0;
    animation: slideRight 1s ease forwards;

}

   
   
.navbar a {
    display: inline-block;
    padding: 10px 28px ;
    background: purple;
    border-radius: 40px;
    box-shadow: 0 0 10px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight:600 ;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));


}
.navbar a:hover,
.navbar a.active {

    color: black;
}
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% ;
}
.home-content {
     max-width: 600;
     font-size: 25px;
     opacity: 0;
     animation: slideLeft .1s ease forwards;
     animation-delay: .1s;
}
     


.home-content h3 span {
    color: purple;
    font-size: 30px;
    opacity: 0;
    animation: slideBottom .1s ease forwards;
    animation-delay: .7s;
}
.home-content h1 {
    font-size: 80px;
    font-weight: 700;
    margin:-3px 0;
    opacity: 0;
    animation: slideRight .1s ease forwards;
    animation-delay: .1s;
    color: black;
}

  
    

.home-img img{
    max-width: 450px;
    margin-right: -20px;
    animation: zoomIN .1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: .2s, 3s;

}
    
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 30px 15px 30px 0;

}
.social-media a:hover {
    background: black;
    color: white;
}
.btn {
    display: inline-block;
    padding: 10px 28px ;
    background: purple;
    border-radius: 40px;
    box-shadow: 0 0 10px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight:600 ;
}
section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 100px;
    font-weight: 700;
}
.navo a {
    display: inline-block;
    padding: 10px 28px ;
    background: black;
    border-radius: 40px;
    box-shadow: 0 0 10px;
    font-size: 16px;
    color: purple;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight:600 ;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));




}
.youtube {
    background-image: url(images/lol.png);
    background-size: 130%;
    background-repeat: no-repeat;
}

.yt {
    font-size: var(--font-size);
    position: relative;
    font-size: 35px;
    place-items: center;
    display: inline-block;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-family: "balsamiq'sans";
    padding: 10px 30px;
    transition: 0.5s;
    border: 0.125em solid;
    border-radius: 0.25rm;
    cursor: pointer;
    background-image: linear-gradient(144deg,#AF40FF, #661642 50%,#420234);
}

.yt:active { transform: scale(0.9);}
.yt :hover {
    letter-spacing: 0.25em;
    outline: 0;
}
.yt span {background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;

}
.yt :hover span {
    background: none;
   }

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #420234;
    background-size: 110%;
    font-size: 20px;
}
.contact{
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background-image: url(images/image.png);
background-size: 100%;
background-repeat: no-repeat;

}
.contact {
    text-align: center;
    font-size:20px ;
    background-image: url(images/music.png);
    background-size: 110%;
    background-repeat: no-repeat;
}
.contact {
    font-size: 95px;
    color: #AF40FF;
    margin-bottom: 50px;
    background-image: url(images/music.png);
    background-size: 130%;
    background-repeat: no-repeat;
}
.contact a{
    font-size: 23px;
    color: #AF40FF;
    text-decoration: none;
    border: 2px solid purple;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;

}
.contact a:hover{
    
    color: black;
    background-color: white;


}
.background-clip{
position: absolute;
right: 0;
bottom: 0;
z-index: -1;
}


/* KEYSFARMES ANIMATION */
@keyframes slideRight {
    0% { transform: translatex(-100px);
        opacity: 0; }
    100% { transform: translatex(0);
            opacity: 1; }   
}
@keyframes slideTop 
{
    0% { transform: translateY(-100px);
        opacity: 0; }
    100% { transform: translateY(0);
            opacity: 1; }   
    }



@keyframes slideBottom {
    0% { transform: translatex(-100px);
        opacity: 0; }
    100% { transform: translatex(0);
            opacity: 1; }   
}
@keyframes slideLeft {
    0% { transform: translatex(100px);
        opacity: 0; }
    100% { transform: translatex(0);
            opacity: 1; }   
}
@keyframes zoomIN {
    0% { transform: scale(0);
        opacity: 0; }
    100% { transform: scale(1);
            opacity: 1; }   
}
@keyframes slideLeft {
    0% { transform: scale(0);
        opacity: 0; }
    100% { transform: scale(1);
            opacity: 1; }   
}
@keyframes floatImage {
    0% { transform: translatex(0)
       
    
    }
    50%{
        transform: translatex(-24px)
       
    }
    100%{
        transform: translatex(0)
       
    }
    }



    @keyframes zoomON {
        0% { transform: scale(0);
            opacity: 0; }
        100% { transform: scale(1);
                opacity: 1; }   
    }





    @keyframes floatPicture{
        0% { transform: translateY(0)
           
        
        }
        50%{
            transform: translateY(-24px)
           
        }
        100%{
            transform: translateY(0)
           
        }
        }





